@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --font-nunito: 'nunito', sans-serif;
  --font-numans: 'numans', sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


td,th{
  div{
  display:flex;
  justify-content: flex-start;
  }
}




.loader {
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0%  {box-shadow: 8px 0 rgba(209, 207, 207, 0.6), -8px 0 #fff7f7; background: rgb(51, 51, 51,0.6)}
  33% {box-shadow: 8px 0 rgb(51, 51, 51,0.6), -8px 0 #fff7f7; background: rgb(51, 51, 51,0.6)}
  66% {box-shadow: 8px 0 #fff7f7, -8px 0 rgb(51, 51, 51,0.6); background: #fff7f7}
  100%{box-shadow: 8px 0 #fff7f7, -8px 0 rgb(51, 51, 51,0.6); background: rgb(51, 51, 51,0.6)}
}


.bx-sha{
  /* box-shadow:0px 40px 38px rgb(62, 62, 62) inset,14px 0px 38px black inset; */
  &::before{
    height:125px;
    width:100%;
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    background: linear-gradient(180deg,rgb(105, 104, 104,0.6),transparent 60%);
  }
}
.bx-sha1{
  box-shadow:0px 5px 3px rgb(9, 8, 8) inset;
}

h1,h2,h3,h4,h5,h6,p{
  color:#dedede
}

.bx-shabtn:hover{
  box-shadow:2px 0px 17px rgb(255, 255, 255,0.4);
}

.line::before{
  content:"";
  height:1px;
  position:absolute;
  width:214px;
  left:0;
  top:99.45%;
  background-image: red;
}


.line::after{
  content:"";
  height:1px;
  position:absolute;
  width:214px;
  left:78%;
  top:0%;
 
  background-image: red;
}

.lv::after{
  content:"";
  height:100%;
  position:absolute;
  width:2px;
  left:3.45%;
  top:9.45%;
  z-index: -1;
  background-image:-webkit-linear-gradient(90deg, transparent,white 20%,transparent);
  @media screen and (max-width:1040px) {

    display:none
    
  }
}


.linetab:after{
  content:"";
  height:2px;
  position:absolute;
  width:214px;
  left:0%;
  top:99%;
 
  background-image: red;;
}

.wb-gradient{
  background-clip: text;
  color:transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg,  rgb(109, 109, 109) 0%,rgb(255, 255, 255) 100%);
}

.bordergradient{

}

.bordergradient::before{
  content:"";
  height:800px;
  position:absolute;
  width:23px;
  left:0%;
  top:0%;
  transform: rotate(60deg) ;
  filter:blur(34px);
  z-index: -1;
  background-image:-webkit-linear-gradient(45deg, transparent,rgb(248, 226, 59) 20%,transparent)
}


.bordergradient::after{
  content:"";
  height:800px;
  position:absolute;
  width:23px;
  left:0%;
  top:0%;
  transform: rotate(60deg) ;
  filter:blur(34px);
  z-index: -1;
  background-image:-webkit-linear-gradient(45deg, transparent,rgb(248, 226, 59) 20%,transparent)
}

pre{
  width:100%;
  padding:0px 12px;
}



.line1::before{
  content:"";
  height:1px;
  position:absolute;
  width:214px;
  left:0;
  top:97%;
  background-image:-webkit-linear-gradient(45deg, transparent,white 20%,transparent)
}

/* .line1::after{
  content:"";
  height:1px;
  position:absolute;
  width:214px;
  left:78%;
  top:80%;
 
  background-image: red;
} */

pre {
  @apply overflow-x-auto;
  margin: 0;
  padding:0px 14px;
  background-color: #1a1b26;
  color: #a9b1d6;
}


.line-v-tree{
  left:50%;
  z-index:1;
  
  top:-10px;
}

.line-v-tree::before{
  content:"";
  width:2px;
  position:absolute;
  height:214px;
  left:0;
  
  background-image:-webkit-linear-gradient(45deg, transparent,white 20%,transparent)
}

.line-v-tree-circle::before{
    content:"";
    position:absolute;
    height:158px;
    left:0%;
    top:8%;
    width: 100%;
  /* z-index:-2; */
    border-radius: 9800px;
    border-left:1px solid white;
}

.line-v-tree-circle::after{
  content:"";
  position:absolute;
  height:158px;
  left:0%;
  top:8%;
  width: 100%;
/* z-index:-2; */
  border-radius: 9800px;
  border-right:1px solid white;
}